body {
    background: #0E1117;
    color: white;
    font-family: 'Roboto', sans-serif;
	
	:root{
    --background-primary: #0E1117;
    --background-secondary: #161B22;
    --text-normal: #dcddde;
    --text-accent: rgb(97, 186, 245);
    --file-margins: 32px;
}
	
	
     	.content {
	  font-size: 18px;
	  font-family: 'Roboto',sans-serif;
	  color: white;
	  background: #0E1117;
    	}
	
	
	a {
  color: #bbbbbb;  /* gray hyperlinks */
  text-decoration: none;  /* remove underline from hyperlinks */
}

a:hover {
  color: #ffffff;  /* change hyperlink color on hover */
  text-decoration: underline;  /* add underline on hover */
}
	
	
	
    h1 {
    color: white;
    background: #0E1117;
}

h2 {
    color: white;
     background: #0E1117;
}

h3 {
    color: white;
	background: #0E1117;
}

h4 {
    color: white;
    background: #0E1117;
}
	
	.theme-dark {
    background: #0E1117;
    color: white;
    font-family: 'Roboto', sans-serif;
}
	
	
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	background: #0E1117;
}


.font-bg {
    font-size: 92px;
	background: #0E1117;
}

}
