body {
    background: #0E1117;
    color: white;
    font-family: 'Roboto', sans-serif;
	
     	.content {
	  font-size: 18px;
	  font-family: 'Roboto',sans-serif;
	  color: white;
	  background: #0E1117
    	}
    h1 {
    color: white;
    background: #0E1117
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}
	
	.theme-dark {
    background: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}

}
